# web server
gunicorn==21.2
flask==3.0
Werkzeug==3.0.1

# for the app
Flask-SQLAlchemy==3.1.1 
Flask-WTF==1.2.1
flask_login==0.6.3
flask_bcrypt==1.0.1
python-dateutil==2.9
text2num==2.5.0

# for the speech interface
torch==2.0.1
pytorch_lightning==2.0.6
transformers==4.31.0
openai-whisper