{% extends "main.html" %}
{% block content %}

<!-- Possible additional columns: 
        - avg. height/inclination/landing/grade per sector
    -->

<div class="container">
    <div class="row">
        <div class="col-4 offset-md-2">
            <div class="row">
                <div class="col-xs-12 center-block text-center">{{ area.name }}</div>
            </div>
        </div>
        <div class="col-4">
            <div class="col-xs-12 center-block text-center">Rock type: {{ area.rock_type.name }} </div>
            <div class="col-xs-12 center-block text-center"># sectors: {{ area.sectors | length }}</div>
            <div class="col-xs-12 center-block text-center"># routes: {{ area.n_routes }}</div>
            <div class="col-xs-12 center-block text-center"># sessions: {{ area.sessions | length }}</div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 center-block text-center">
            <a href="{{ url_for('areas.edit_area', area_id=area.id) }}" class="btn btn-primary">Edit
                area</a>
        </div>
    </div>
</div>

<div class="container">
    <h3>Routes</h3>

    <table id="content_table" class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Route</th>
                <th>Sector</th>
                <th>Grade</th>
                <th>Sent</th>
                <th>Actions</th>
            </tr>
            {% for sector in area.sectors %}
            {% for route in sector.routes %}
            {% set onclick = "window.location=\"" + url_for('routes.page_route', route_id=route.id) + "\"" %}
        </thead>
        </tbody>
        <tr>
            <td onclick={{ onclick }}>{{ route.name }}</td>
            <td onclick={{ onclick }}>{{ route.sector.name }}</td>
            <td onclick={{ onclick }}>{{ route.grade.font }} / {{ route.grade.hueco }}</td>
            <td onclick={{ onclick }}>{{ route.sent }}</td>
            <td>
                <a href="{{ url_for('routes.edit_route', route_id=route.id) }}">
                    {% include 'icons/edit.html' %}
                </a>
                <a href="{{ url_for('routes.delete_route', route_id=route.id) }}">
                    {% include 'icons/delete.html' %}
                </a>
            </td>
        </tr>
        {% endfor %}
        {% endfor %}
        </tbody>
    </table>
</div>

<script>
    // TODO: this is not working
    window.addEventListener('load', function () {
        window.data_table = new DataTable("#content_table", {
            perPage: 100,
            perPageSelect: false,
            searchable: true,
            nextPrev: false,
        });
    });
</script>

{% endblock content %}