{% import "macros.html" as macros %}

{% extends "main.html" %}
{% block content %}

<!-- Possible additional columns: 
        - avg. height/inclination/landing/grade per sector
    -->

<div class="container px-0 px-lg-5 py-0 py-lg-4">
    {% if area.created_by == user_id  or user_role == 1 %}
    {% set actions = [
        { "icon": "edit", "url": url_for('areas.edit_area', area_id=area.id) },
    ] %}
    {% else %}
    {% set actions = [] %}
    {% endif %}
    {{ macros.card({
        "header": {
            "title": area.name,
            "title_actions": actions,
            "subtitle": area.rock_type.name,
        },
        "body": {
            "facts": [
                {"icon": "n_sectors", "value": area.sectors | length, "unit": ""},
                {"icon": "n_boulders", "value": area.n_routes, "unit": ""},
                {"icon": "n_sessions", "value": area.sessions | length, "unit": ""},
            ],
            "list": [
                {"value": area.comment if area.comment else ""},
            ]
        }
    }) }}
</div>

<div class="container px-0 px-lg-5">
    <table id="content_table" class="table table-hover">
        <thead>
            <tr>
                <th>Route</th>
                <th>Sector</th>
                <th>Grade</th>
                <th>Sent</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>

            {% for sector in area.sectors %}
            {% for route in sector.routes %}

            <!-- Replace boolean "route.sent" with "yes or "no" -->
            {% if route.sent %}
            {% set sent = "Yes" %}
            {% else %}
            {% set sent = "No" %}
            {% endif %}


            {% set onclick = "window.location=\"" + url_for('routes.page_route', route_id=route.id) + "\"" %}
            {% if sent == "Yes" %}
            <tr class="table-success">
                {% else %}
            <tr>
                {% endif %}
                <td onclick={{ onclick }}>{{ route.name }}</td>
                <td onclick={{ onclick }}>{{ route.sector.name }}</td>
                <td onclick={{ onclick }}>{{ route.grade.user_grade }}</td>
                <td onclick={{ onclick }}>{{ sent }}</td>
                <td>
                    {% if route.created_by == user_id or user_role == 1 %}
                    <a href="{{ url_for('routes.edit_route', route_id=route.id) }}">
                        {% include 'icons/edit.html' %}
                    </a>
                    <a href="{{ url_for('routes.delete_route', route_id=route.id) }}">
                        {% include 'icons/delete.html' %}
                    </a>
                    {% endif %}

                    {% if not route.tried %}
                    {% if not route.is_project %}
                    <a href="{{ url_for('climbers.add_project', route_id=route.id) }}">
                        {% include 'icons/is_not_project.html' %}
                    </a>
                    {% else %}
                    <a href="{{ url_for('climbers.delete_project', route_id=route.id) }}">
                        {% include 'icons/is_project.html' %}
                    </a>
                    {% endif %}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    window.addEventListener('load', function () {
        window.data_table = new DataTable("#content_table", {
            perPage: 100,
            perPageSelect: false,
            searchable: true,
            nextPrev: false,
        });
    });
</script>

{% endblock content %}