{% extends "main.html" %}
{% block content %}

<!-- Possible additional columns: 
        - avg. height/inclination/landing/conditions 
    -->

<h1>Areas</h1>

<table id="content_table" class="table table-striped table-hover">
    <thead>
        <tr>
            {% for row_name in ["Name", "Rock Type", "# Sectors", "# Sessions", "# Routes"] %}
            <th>{{ row_name }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for area in areas %}
        <tr onclick="window.location=&quot;{{ url_for('areas.page_area', area_id=area.id) }}&quot;">
            <td>{{ area.name }}</td>
            <td>{{ area.rock_type.name }}</td>
            <td>{{ area.sectors|length }}</td>
            <td>{{ area.sessions|length }}</td>
            <td>{{ area.sectors|map(attribute='routes')|map('length')|sum }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    window.addEventListener('load', function () {
        window.data_table = new DataTable("#content_table", {
            perPage: 100,
            perPageSelect: false,
            searchable: false,
            nextPrev: false,
        });
    });
</script>

{% endblock content %}