{% import "macros.html" as macros %}

{% extends "main.html" %}
{% block content %}


<div class="container px-0 px-lg-5 pb-2 mb-3 mt-lg-5">
    {{ macros.card({
        "header": {
            "title": climber.name,
            "subtitle": climber.age_str ~ " years old, climbing since " ~ climber.year_started_climbing_str,
        },
        "body": {
            "facts": [
                    { "icon": "height", "value": climber.height, "unit": "cm" },
                    { "icon": "ape_index", "value": climber.ape_index|int|string, "unit": "cm" },
                    { "icon": "grade", "value": climber.highest_grade_str , "unit": "" },
                    { "icon": "n_sends", "value": climber.n_sends, "unit": "" },
                ],
            "list": [
                {"prefix": "Favorite areas", "value": climber.favorite_areas|join(", ")},
                {"prefix": "Areas created", "value": climber.areas|length},
                {"prefix": "Routes created", "value": climber.routes|length},
            ]
        }
    }) }}
</div>

{% set sessions = climber.sessions %}
{% include "sessions_table.html" %}

{% endblock content %}