{% extends "main.html" %}
{% block content %}

<div class="container px-2 px-lg-5">
    <h2 class="mt-2">{{ title }}</h2>

    <form method="POST" class="px-1 px-lg-5">
        {% for form in forms %}
        <div class="mb-4">
            {{ form.hidden_tag() }}
            {% if form.title %}
            <h4>{{ form.title }}</h4>
            {% endif %}

            {% for field in form %}
            {% if field.name != 'csrf_token' and field.name != "submit" and field != form.existing_route %}
            <div class="form-group">
                <label for="{{ field.id }}">{{ field.label }}</label>

                {% if field.type == 'IntegerRangeField' or field.type == 'DecimalRangeField' %}
                <span>= </span>
                <output>{{ field.default }}</output>
                <span>{{ field.unit }}</span>
                {{ field(id=field.id, class='form-range',
                oninput="this.previousElementSibling.previousElementSibling.value
                = this.value") }}


                {% elif field.type == 'BooleanField' %}
                {% if field.toggle_ids %}
                {{ field(id=field.id, class='form-check', onchange='checkboxToggle("' + field.id + '", "' +
                field.toggle_ids
                +
                '")') }}
                {% else %}
                {{ field(id=field.id, class='form-check') }}
                {% endif %}


                {% elif field.datalist %}
                {% set datalist_name = field.name + '-list' %}
                <datalist id="{{ field.name }}-list">
                    {% for item in field.datalist %}
                    <option value="{{ item }}"></option>
                    {% endfor %}
                </datalist>
                {% if field.toggle_ids %}
                {{ field(id=field.id, class='form-control', list=datalist_name, autocomplete='off',
                onchange='datalistToggle("' + field.id + '", "' + datalist_name + '", "' + field.toggle_ids
                +
                '")') }}
                {% else %}
                {{ field(id=field.id, class='form-control', list=datalist_name, autocomplete='off') }}
                {% endif %}

                {% else %}
                {{ field(id=field.id, class='form-control') }}

                {% endif %}
            </div>
            {% endif %}
            {% endfor %}
        </div>
        {% endfor %}

        <div class="form-group">
            <input type="submit" class="btn btn-success" name="btn" value="Save">
            <a type="button" class="btn btn-danger" value="Cancel" href="{{ url_for('home.cancel_form') }}">
                Cancel
            </a>
        </div>
    </form>
</div>

{% endblock content %}