<html>

<head>
    <title>User guide</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='css/colors.css') }}" rel="stylesheet" type="text/css">
</head>

<body class="bg-success">

<!-- Add a floating button to the bottom right corner of the page. -->
<div>
    <a href="{{ next }}" class="btn btn-danger fixed-bottom">
        Return
    </a>
</div>

<div class="container py-4 w-25 px-md-5">
    <img src="{{ url_for('static', filename='images/logo-green.png') }}" alt="myClimbz logo" class="img-fluid">
</div>

<div class="container">
    <h2>Contact Information</h2>
    <p>
        If you have questions about this software which are not answered in the guide
        below, please contact us at .
    </p>
</div>

<div class="container">
    <h2>User Guide</h2>

    <p>
        myClimbz is an app for tracking your sends and projects. Every time you have a
        session outside, you can log where you climbed, how the conditions were and
        which routes you tried. Routes are recorded with more information other
        than the grade, such as the height and inclination, which may help you decide
        which project to try next. Once you send a climb, you can record your opinion
        on the grade and the crux, as well as ratings of the route and the landing.
        All this information can be easily analysed with our plots and filters.
    </p>

    <h3>Index</h3>
    <ul>
        <li><a class="text-link" href="#data_info">What kind of data do we track?</a></li>
        <li><a class="text-link" href="#log_data">How to add sessions and climbs</a></li>
        <li><a class="text-link" href="#filters">How to filter climbs and routes</a></li>
        <li><a class="text-link" href="#plots">How to analyse your climbs</a></li>
        <li><a class="text-link" href="#icons">What do the icons mean?</a></li>
    </ul>
</div>

<div class="container" id="data_info">
    <h3>What kind of data do we track?</h3>
    <p>
        Routes are shared among climbers. If you are the first one to add a route to
        myClimbz, you will be asked to fill some information about it. When another
        climber logs a climb in the same route, they will do it on the route you created.
        Over time, climbers will share their opinion about the route, gathering useful
        data points for future climbers.
    </p>
    <h4>Routes</h4>
    <p>
        Routes are stored with the following information:
    </p>
    <ul>
        <li>The <b>name</b> of the route. It must be unique in the area.</li>
        <li>
            The <b>height</b> {% include 'icons/height.html' %} of the route in meters,
            in steps of a half meter. This means that a route can be either 3 or 3.5 meters
            tall, nothing in between is possible.
        </li>
        <li>
            The <b>inclination</b> {% include 'icons/inclination.html' %} of the route, in
            degrees, in steps of 5 degrees.
        </li>
        <li>The <b>sector</b> where the route is located.</li>
        <li>Whether the route has a <b>sit start</b>.</li>
        <li>The <b>coordinates</b> that mark the location of the route.</li>
        <li>A <b>link</b>, e.g. to a topo or a photo.</li>
        <li>A <b>comment</b> with some useful information about the route.</li>
    </ul>
    <p>
        All information besides the name is optional. You can add it later on if you're
        in the middle of a session. If you are not sure about the height or inclination,
        you can wait until other climbers give their opinions.
    </p>
    <p>
        Each route is located in a <b>sector</b>, which in turn is located in an
        <b>area</b>. The creators of areas may add the rock type and a link to a
        topo or other useful information. If you're adding a route and you don't
        select a sector, the route will be added to a sector called "Unknown".
    </p>
    <h4>Climbs</h4>
    <p>
        Once you are done trying a route, you can log a climb with the following information:
    </p>
    <ul>
        <li>The <b>number of attempts</b> you spent on the route.</li>
        <li>Whether you <b>sent</b> the route.</li>
        <li>
            Whether you <b>flashed</b> the route. For example, if you climb the sit
            start of a route on your first try, it is not a flash if you have climbed
            the stand start before. You are of course free to record anything you wish;
            this is just the reasoning behind this field.
        </li>
        <li>A <b>link</b>, e.g. to a video of your best attempt of the day or some important beta.</li>
        <li>A <b>comment</b> with your experience on the route.</li>
    </ul>
    <p>
        Once you send a route, you can give your opinion on subjective aspects about
        it, which often differ between climbers. These are:
    </p>
    <ul>
        <li>
            The <b>grade</b> of the route. We support both Hueco and Font grades. You
            can pick your preferred scale in your profile settings.
        </li>
        <li>
            The <b>cruxes</b> of the route. We have crafted a list that we hope covers
            all possible difficulties you may encounter in a climb, including hand holds
            like slopers, techniques like heel hooks or mantles, as well as more broad
            aspects like the route being scary or requiring tension. You can select
            multiple cruxes if you wish. Note that the cruxes may differ from the style
            of the route: a route that predominantly consists of slopers may have an
            undercling as the crux, for example. It depends on what you found the hardest.
        </li>
        <li>
            A <b>quality rating</b> {% include 'icons/rating.html' %} about the route, from
            1 to 5 stars. This rating may encompass different aspects depending on the climber,
            as we value different things. Usually, it is a mix of the quality of the moves
            and the rock. The setting may also play a role.
        </li>
        <li>
            A <b>landing rating</b> {% include 'icons/landing.html' %} about the route, from
            1 to 5 stars. This rating describes how safe the landing is, with 1 being dangerous
            and 5 being very safe and easy to protect. Aspects like the amount of pads needed
            to make the landing safe, the likelihood of rolling an ankle and so forth
            play a role in this rating. The height of the route as well. As climbers
            view safety differently, this rating may vary between climbers.
        </li>
    </ul>
    <p>
        Climbs are part of <b>sessions</b>, which represent the days you go climbing.
        Each session takes place in an area on a certain day. You can also write a
        comment about how you're feeling, what your purpose is for the day, or anything
        else you wish to remember about the day. You can <b>rate the conditions</b>
        from 1 to 5 stars, which may include aspects like temperature, humidity,
        whether the sun is shining or the rock is wet, etc.
    </p>

</div>

<div class="container" id="log_data">
    <h3>How to add sessions and climbs</h3>
    <p>
        Logging data is very dynamic. It is all done with one form, even if a route
        or area does not exist yet. You can add it on the fly while logging your climb
        or starting your session.
    </p>
    <p>
        If you want to add some climbs, you first need to <b>start a session</b>. You
        can do so by clicking the button "Start session" in the navigation bar, which
        leads you to a form where you can select the area you're climbing in, the date
        and rate the conditions. If the area name does not exist yet, you are shown
        the form to add a new area.
    </p>
    <p>
        When starting a session, there is a checkbox which says "Only adding projects
        (not climbing)", which refers to what we call a <b>project search</b>. Checking
        it means that you are not going to log any climbs, only add routes. This is
        useful if you are exploring a new area and want to add routes to climb in the
        future. A project search, once ended, will not be shown in the list of sessions.
    </p>
    <p>
        If you have started a normal session, you can still <b>add projects</b> by
        checking the checkbox "Project (not tried yet)". The form to log a climb will
        be hidden, and only the route will be added. You can also mark routes created
        by other climbers as projects outside of a session, by clicking the corresponding
        button in the page of that route or its area table. Routes created by you that
        you have not tried are automatically marked as projects.
    </p>
    <p>
        Once you have started a session, you can <b>log a climb</b> by clicking the
        button "Add climb" in the navigation bar. You will be asked to select the route
        you climbed and the fields for the climb we described above.
    </p>
    <p>
        If the name of the route you climbed does not exist in the area you are climbing
        in, you are also shown the <b>form to add a new route</b>.
    </p>
    <p>
        Once you are done adding the climbs of a session, you can <b>stop the session</b>
        by clicking the button "Stop session" in the navigation bar.
    </p>
</div>

<div class="container" id="filters">
    <h3>How to filter climbs and routes</h3>
    <p>
        In the home page you can see all the routes you have either tried, sent or
        marked as projects. There are several filters to narrow down the list. They are
        all self-explanatory. One thing to note is that you need to click the "Apply"
        button for the filters to take effect.
    </p>
    <p>
        For example, if you are planning a trip to a certain area, you can filter the routes
        by area with the dropdown menu titled "Area", and then select "Projects" to filter out
        the routes you have already sent. If you are looking to try something new, you can remove
        all climbs you have already tried by changing the slider for the number of attempts.
    </p>
</div>

<div class="container" id="plots">
    <h3>How to analyse your climbs</h3>
    <p>
        At the top of the home page, there is a toggle to switch between the table and
        the plot. Both display the same data, i.e. the filters do not change when moving
        from one to the other. One additional aspect to consider with the plots is that
        you can select the axes you want to plot. Here we introduce the available values
        for each of the axes.
    </p>
    <h4>X-axis</h4>
    <p>
        The x-axis is the horizontal line of the plot. It defines how to group the data.
        For example, if you select "Grade" as the x-axis, the routes will be grouped
        by grade. There are x-axis values that are applied on the routes, like "Grade",
        and other that are applied on the climbs, like "Conditions". In the latter case,
        each route may be plotted more than once (as often as you have climbed them).
        These are the available values for the x-axis:
    </p>
    <ul>
        <li>
            <b>Grade:</b> routes are grouped by grade. Your grade is always chosen
            first. If you haven't given a route a grade, the consensus grade is chosen
            instead.
        </li>
        <li>
            <b>Grade - Consensus:</b> routes are grouped by the consensus grade. The
            grade that the largest number of climbers have given to each route is chosen.

        </li>
        <li><b>Area:</b> routes are grouped by area</li>
        <li>
            <b>Sector:</b> routes are grouped by sector. This value should usually be used
            together with an area filter.
        </li>
        <li>
            <b>Conditions:</b> the climbs are grouped by the conditions of the session.
        </li>
        <li><b>Date: day:</b> climbs are grouped by day.</li>
        <li><b>Date: month:</b> climbs are grouped by month.</li>
        <li><b>Date: year:</b> climbs are grouped by year.</li>
        <li><b>Height:</b> routes are grouped by height.</li>
        <li><b>Inclination:</b> routes are grouped by inclination.</li>
        <li>
            <b>Landing:</b> routes are grouped by landing. Only your opinion about the
            landing is considered. Routes for which you have not given a rating for the
            landing will not appear in the plot.
        </li>
        <li>
            <b>Rating:</b> routes are grouped by rating, the same way as with the
            "Landing" value.
        </li>
        <li><b>Sit start:</b> routes are grouped by their starting position.</li>
        <li><b>Sent:</b> routes are grouped by whether you have sent them or not</li>
        <li>
            <b>Cruxes:</b> routes are grouped by crux, the same way as with the
            "Landing" value. As you can assign more than one crux to a route, routes
            can be plotted more than once.
        </li>
        <li>
            <b>No. of sessions:</b> routes are grouped by the number of sessions it
            took you to send them. This plot does not include repeats, i.e. your climbs
            on a route after the first send.
        </li>
        <li>
            <b>No. of attempts:</b> routes are grouped by the number of attempts, in
            the same way as with the "No. of sessions" value.
        </li>
    </ul>

    <h4>Y-axis</h4>
    <p>
        The x-axis determines what is being plotted, i.e. the height of the bars that
        are displayed. For example, if you choose "Climbs: total sent" as the y-axis,
        the total number of routes that you have sent for each group is displayed.
        Groups are defined by the x-axis. Here are the available values for the y-axis,
        which define the number displayed for each group:
    </p>
    <ul>
        <li>
            <b>Attempts: total:</b> your total number of attempts on the routes. All
            attempts you make after sending a route for the first time are not
            considered in this plot.
        </li>
        <li>
            <b>Attempts: avg.:</b> the average number of attempts you need to send a route.
        </li>
        <li>
            <b>Attempts: min.:</b> the minimum number of attempts it took you to send any
            route.
        </li>
        <li>
            <b>Attempts: max.:</b> the maximum number of attempts it took you to send any
            route.
        </li>
        <li>
            <b>Climbs: total tried:</b> the total amount of routes you have tried.
        </li>
        <li>
            <b>Climbs: total sent:</b> the total amount of routes you have sent of each
            group.
        </li>
        <li>
            <b>Climbs: success rate:</b> the number of climbs you have sent, divided by
            the number of climbs you have tried.
        </li>
        <li>
            <b>Grade: avg.:</b> the average grade of the routes. The grade you have given
            to the routes has priority. For the routes to which you have not given a grade,
            the consensus grade is taken instead.
        </li>
        <li>
            <b>Grade: max.:</b> the maximum grade of the routes within each group. Grades
            are defined in the same way as for the "Grade: avg." value.
        </li>
    </ul>
</div>

<div class="container" id="icons">
    <h3>Icons</h3>
    <p>
        The app has several kinds of cards that display information. Currently, areas,
        routes, sessions and opinions have cards. On the second row of these cards, a series of
        icons followed by some facts are shown. Each icon has a different meaning, and
        we will explain them here. There are also icons for certain actions, which we define at
        the end of this section.
    </p>

    <h4>Icons for areas</h4>
    <ul>
        <li>
            {% include 'icons/n_sectors.html' %} Sectors: the number of sectors in the area.
        </li>
        <li>
            {% include 'icons/n_boulders.html' %} Boulders: the number of boulders in the area.
        </li>
        <li>
            {% include 'icons/n_sessions.html' %} Sessions: the number of sessions logged
            in the area.
        </li>
    </ul>

    <h4>Icons for sessions</h4>
    <ul>
        <li>
            {% include 'icons/conditions.html' %} Conditions: the rating for the conditions
            on the day of the session, from 1 to 5.
        </li>
        <li>
            {% include 'icons/n_boulders.html' %} Boulders: the number of boulders you
            have tried in the session.
        </li>
        <li>
            {% include 'icons/n_sends.html' %} Boulders: the number of boulders you
            have sent in the session.
        </li>
    </ul>

    <h4>Icons for routes</h4>
    <ul>
        <li>
            {% include 'icons/height.html' %} Height: the height of the route in meters.
        </li>
        <li>
            {% include 'icons/inclination.html' %} Inclination: the inclination of the
            route in degrees.
        </li>
        <li>
            {% include 'icons/rating.html' %} Rating: the quality rating of the route.
        </li>
        <li>
            {% include 'icons/landing.html' %} Landing: the landing rating of the route.
        </li>
    </ul>

    <h4>Icons for opinions</h4>
    <ul>
        <li>
            {% include 'icons/grade.html' %} Grade: the grade given to the route by the
            climber.
        </li>
        <li>
            {% include 'icons/rating.html' %} Quality: the quality rating given to the
            route by the climber.
        </li>
        <li>
            {% include 'icons/landing.html' %} Landing: the landing rating given to the
            route by the climber.
        </li>
    </ul>


    <h4>Icons for actions</h4>
    <p>These icons are clickable and can be used to perform actions.</p>
    <ul>
        <li>
            {% include 'icons/edit.html' %} Edit: button to edit the object.
        </li>
        <li>
            {% include 'icons/delete.html' %} Delete: button to delete the object. A
            confirmation dialog will appear before the object is deleted.
        </li>
        <li>
            {% include 'icons/is_not_project.html' %} Add project: button to mark a route
            as a project. It means that you haven't either tried it or marked it as a
            project yet.
        </li>
        <li>
            {% include 'icons/is_project.html' %} Delete project: button to delete a
            route from the list of projects. It means that you have marked this route
            as a project.
        </li>
    </ul>
</div>  

</body>
</html>