<html>

<head>
    <title>{{ title }}</title>
    <meta name="version" content="1.6.2">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="icon" href="{{ url_for('static', filename='images/icon-green-small.png') }}">
    <link href="{{ url_for('static', filename='css/colors.css') }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.8.1/nouislider.css" />
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="{{ url_for('home.page_home') }}" style="padding-left: 10px;">
            <img src="{{ url_for('static', filename='images/logo-transparent.svg') }}" width="60" height="40" class="d-inline-block align-top" alt="">
        </a>
        {% if not "Add" in title and not "Edit" in title %}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                {% if open_session %}
                <li><a class="nav-link" href="{{ url_for('climbs.add_climb') }}">Add climb</a></li>
                <li>
                    <a class="nav-link" href="{{ url_for('sessions.stop_session') }}">
                        Stop
                        {% if open_session.is_project_search %}
                        project search
                        {% else %}
                        session
                        {% endif %}
                    </a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('sessions.add_session') }}">Start session</a>
                </li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Lists
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ url_for('sessions.table_sessions') }}">My sessions</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('areas.table_areas') }}">Areas</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('climbers.table_climbers') }}">Climbers</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav ms-md-auto mb-2 mb-md-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        {{ username }}
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ url_for('climbers.logout') }}">Logout</a></li>
                        <li>
                            <a class="dropdown-item" href="{{ url_for('climbers.edit_climber', climber_id=user_id) }}">
                                Edit profile
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{ url_for('climbers.edit_password', climber_id=user_id) }}">
                                Change password
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('home.guide') }}">Help</a>
                </li>
            </ul>
        </div>
        {% endif %}
    </nav>



    {% if error %}
    <script>
        console.error("An error has occurred.");
        console.error("{{ error }}");
    </script>
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endif %}

    <!-- Show the current session / project search, if any-->
    {% if open_session %}

    <div class="alert alert-success" role="alert">
        {% if open_session.is_project_search %}
        Project search
        {% else %}
        Session
        {% endif %}
        in {{ open_session.area.name }}
    </div>
    {% endif %}

    {%block content %}{% endblock %}

    <script>
        // Set the user's preferred grade scale
        let GRADE_SCALE = "{{ user_grade_scale }}";
    </script>

    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" type="text/javascript"></script>

    <!-- Script for confirming deletes -->
    <script src="{{url_for('static', filename='js/confirm_deletion.js')}}"></script>

    <!-- Script for forms -->
    <script src="{{url_for('static', filename='js/forms.js')}}"></script>

    <!-- Script for responsive behavior -->
    <script src="{{url_for('static', filename='js/responsive.js')}}"></script>

    <!-- Scripts for routes -->
    {% if title == "Routes" %}
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://momentjs.com/downloads/moment.js"></script>
    <script src="{{url_for('static', filename='js/data.js')}}"></script>

    <!-- Script for home page -->
    <script src="{{url_for('static', filename='js/table/routes.js')}}"></script>

    <!-- Scripts for plotting -->
    <script src="{{url_for('static', filename='js/analysis/main.js')}}"></script>
    <script src="{{url_for('static', filename='js/analysis/grades.js')}}"></script>
    <script src="{{url_for('static', filename='js/analysis/y_axis.js')}}"></script>

    <!-- Scripts for filters -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.8.1/nouislider.min.js"></script>
    <script src="{{url_for('static', filename='js/filters/main.js')}}"></script>
    <script src="{{url_for('static', filename='js/filters/filters.js')}}"></script>
    <script src="{{url_for('static', filename='js/filters/filters.js')}}"></script>
    <script src="{{url_for('static', filename='js/filters/widgets/checkbox.js')}}"></script>
    <script src="{{url_for('static', filename='js/filters/widgets/double_slider.js')}}"></script>
    <script src="{{url_for('static', filename='js/filters/widgets/date_range.js')}}"></script>
    <script src="{{url_for('static', filename='js/filters/widgets/dropdown.js')}}"></script>
    <script src="{{url_for('static', filename='js/filters/widgets/radio_button.js')}}"></script>
    {% endif %}
</body>

</html>