{% extends "main.html" %}
{% block content %}



<div class="container">
    <div class="row">
        <div class="col-4 offset-md-2">
            <div class="row">
                <div class="col-xs-12 center-block text-center">{{ route.name }}</div>
            </div>
            <div class="row">
                <div class="col-xs-12 center-block text-center">{{ route.grade.font }} / {{ route.grade.hueco }}</div>
            </div>
        </div>
        <div class="col-4">
            <div class="row">
                <div class="col-xs-12 center-block text-center">{{ route.sector.area.name }}, {{ route.sector.name }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 center-block text-center">Height: {{ route.height }} m</div>
            </div>
            <div class="row">
                <div class="col-xs-12 center-block text-center">Inclination: {{ route.inclination }} °</div>
            </div>
            <div class="row">
                <div class="col-xs-12 center-block text-center">Landing: {{ route.landing }} / 10</div>
            </div>
            <div class="row">
                <div class="col-xs-12 center-block text-center">Cruxes: {{ route.cruxes|map(attribute="name")|join(", ")
                    }}</div>
            </div>
        </div>
    </div>
</div>

{% if route.created_by == user_id or user_role == 1 %}
<div class="container">
    <div class="col-xs-12 center-block text-center">
        <a href="{{ url_for('routes.edit_route', route_id=route.id) }}" class="btn btn-primary">Edit route</a>
        <a href="{{ url_for('routes.delete_route', route_id=route.id) }}" class="btn btn-danger">Delete route</a>
    </div>
</div>
{% endif %}

<div class="container">
    <h3>Sessions</h3>

    <table class="table table-striped">
        <tr>
            <th>Date</th>
            <th>Conditions</th>
            <th># Attempts</th>
            <th>Sent</th>
            <th>Actions</th>
        </tr>
        {% for climb in route.climbs if climb.session.climber_id == user_id %}

        {% set onclick = "window.location=\"" + url_for('sessions.page_session', session_id=climb.session.id) + "\"" %}
        <tr>
            <td onclick={{ onclick }}>{{ climb.session.date }}</td>
            <td onclick={{ onclick }}>{{ climb.session.conditions }}</td>
            <td onclick={{ onclick }}>{{ climb.n_attempts }}</td>
            <td onclick={{ onclick }}>{{ climb.sent }}</td>
            <td>
                <a href="{{ url_for('climbs.edit_climb', climb_id=climb.id) }}">
                    {% include 'icons/edit.html' %}
                </a>
                <a href="{{ url_for('climbs.delete_climb', climb_id=climb.id) }}">
                    {% include 'icons/delete.html' %}
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock content %}