{% import "macros.html" as macros %}

{% extends "main.html" %}
{% block content %}

<div class="container px-0 px-lg-5 pt-0 pt-lg-5">
    {% if route.created_by == user_id  or user_role == 1 %}
    {% set actions = [
        { "icon": "edit", "url": url_for('routes.edit_route', route_id=route.id) },
        { "icon": "delete", "url": url_for('routes.delete_route', route_id=route.id) }
    ] %}
    {% else %}
    {% set actions = [] %}
    {% endif %}
    {{ macros.card({
        "header": {
            "title": route.name ~ " " ~ route.consensus_grade_str,
            "title_actions": actions,
            "subtitle": route.sector.name ~ ", " ~ route.sector.area.name
        },
        "body": {
            "facts": [
                    { "icon": "height", "value": route.height, "unit": "m" },
                    { "icon": "inclination", "value": route.inclination, "unit": "°" },
                    { "icon": "rating", "value": route.rating, "unit": "/5" },
                    { "icon": "landing", "value": route.landing, "unit": "/5" },
                ],
            "list": [
                {
                "prefix": "Coordinates",
                "value": route.latitude ~ ", " ~ route.longitude if route.latitude and route.longitude else "N/A"
                },
                {"prefix": "Cruxes", "value": route.cruxes|join(", ") if route.cruxes else "N/A"},
                {"prefix": "Sends / tries", "value": route.n_sends ~ " / " ~ route.n_climbers},
                {"value": route.comment if route.comment else ""},
            ]
        }
    }) }}
</div>

<div class="container px-0 px-lg-5">
    <div>
        <h3 class="ms-3" style="display: inline-block">My sessions</h3>
        {% if not route.tried %}
            {% if route.is_project %}
                <a href="{{ url_for('climbers.delete_project', route_id=route.id) }}">
                    {% include 'icons/is_project.html' %}
                </a>
            {% else %}
                <a href="{{ url_for('climbers.add_project', route_id=route.id) }}">
                    {% include 'icons/is_not_project.html' %}
                </a>
            {% endif %}
        {% endif %}
    </div>
    {% if route.climbs|selectattr("session.climber_id", "equalto", user_id)|list|length > 0 %}
    <table id="content_table" class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Date</th>
                <th># Attempts</th>
                <th>Conditions</th>
                <th>Sent</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for climb in route.climbs if climb.session.climber_id == user_id %}

            {% set onclick = "window.location=\"" + url_for('sessions.page_session', session_id=climb.session.id) +
            "\""
            %}
            {% if climb.sent %}
            <tr class="table-success">
                {% else %}
            <tr>
                {% endif %}

                <td onclick={{ onclick }}>{{ climb.session.date }}</td>
                <td onclick={{ onclick }}>{{ climb.n_attempts }}</td>
                <td onclick={{ onclick }}>{{ climb.session.conditions }}</td>
                <td onclick={{ onclick }}>{{ climb.sent }}</td>
                <td>
                    <a href="{{ url_for('climbs.edit_climb', climb_id=climb.id) }}">
                        {% include 'icons/edit.html' %}
                    </a>
                    <a href="{{ url_for('climbs.delete_climb', climb_id=climb.id) }}">
                        {% include 'icons/delete.html' %}
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p class="ms-3">No sessions yet</p>
    {% endif %}
</div>

<div class="container px-0 px-lg-5">
    <h3 class="ms-3" style="display: inline-block">My opinion</h3>
    {% if route.opinions|selectattr("climber_id", "equalto", user_id)|list|length > 0 %}
    {% for opinion in route.opinions if opinion.climber_id == user_id %}
    <a href="{{ url_for('opinions.edit_opinion', opinion_id=opinion.id) }}">
        {% include 'icons/edit.html' %}
    </a>
    <a href="{{ url_for('opinions.delete_opinion', opinion_id=opinion.id) }}">
        {% include 'icons/delete.html' %}
    </a>
    {{ macros.card({
        "header": {
            "title": opinion.climber.name,
        },
        "body": {
            "facts": [
                    { "icon": "grade", "value": opinion.grade.user_grade, "unit": ""},
                    { "icon": "rating", "value": opinion.rating, "unit": "/5" },
                    { "icon": "landing", "value": opinion.landing, "unit": "/5" },
                ],
            "list": [
                {"prefix": "Cruxes", "value": opinion.cruxes|map(attribute="name")|join(", ") if opinion.cruxes else "N/A"},
                {"value": route.comment if route.comment else ""},
            ]
        }
    }) }}
    {% endfor %}
    {% else %}
    <div class="col-xs-12">
        {% if route.sent %}
        <p>No opinion yet</p>
        <a href="{{ url_for('opinions.add_opinion', climber_id=user_id, route_id=route.id) }}"
            class="btn btn-success">Add</a>
        {% else %}
        <p  class="ms-3">You need to send the route to add an opinion</p>
        {% endif %}
    </div>
    {% endif %}
</div>

{% if route.opinions|rejectattr("climber_id", "equalto", user_id)|list|length > 0 %}
<div class="container px-0 px-lg-5">
    <h3 class="ms-3">Other opinions</h3>
    {% for opinion in route.opinions if opinion.climber_id != user_id %}
    {{ macros.card({
        "header": {
            "title": opinion.climber.name,
        },
        "body": {
            "facts": [
                    { "icon": "grade", "value": opinion.grade.user_grade, "unit": ""},
                    { "icon": "rating", "value": opinion.rating, "unit": "/5" },
                    { "icon": "landing", "value": opinion.landing, "unit": "/5" },
                ],
            "list": [
                {"prefix": "Cruxes", "value": opinion.cruxes|map(attribute="name")|join(", ") if opinion.cruxes else "N/A"},
                {"value": route.comment if route.comment else ""},
            ]
        }
    }) }}
    {% endfor %}
</div>
{% endif %}

{% endblock content %}