{% import "macros.html" as macros %}

{% extends "main.html" %}
{% block content %}

<div class="container px-0 px-md-5 py-0 py-md-4">
    {% if session.climber_id == user_id %}
        {% set actions = [
            { "icon": "edit", "url": url_for('sessions.edit_session', session_id=session.id) },
            { "icon": "delete", "url": url_for('sessions.delete_session', session_id=session.id) }
        ] %}
        {% if not open_session %}
            {% set actions = actions + [{ "icon": "reopen", "url": url_for('sessions.reopen_session', session_id=session.id) }] %}
        {% endif %}
    {% else %}
        {% set actions = [] %}
    {% endif %}
    {{ macros.card({
        "header": {
            "title": session.climber.name ~ " in " ~ session.area.name,
            "title_actions": actions,
            "subtitle": session.date,
        },
        "body": {
            "facts": [
                { "icon": "conditions", "value": session.conditions, "unit": "/5" },
                { "icon": "n_boulders", "value": session.climbs | length, "unit": "" },
                { "icon": "n_sends", "value": session.climbs | map(attribute='sent') | sum, "unit": "" },
            ],
            "list": [
                {"value": session.comment if session.comment else ""},
            ]
        }
    }) }}
</div>

<div class="container px-0 px-md-5">
    <table id="content_table" class="table table-hover" data-sort-col="0" data-sort-order="asc">
        <thead>
            <tr>
                <th>Route</th>
                <th>Sector</th>
                <th># tries</th>
                <th>Sent</th>
                {% if session.climber_id == user_id %}
                <th data-sortable="false">Actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for climb in session.climbs %}

            {% set onclick = "window.location=\"" + url_for('routes.page_route', route_id=climb.route.id) + "\"" %}
            {% if climb.sent %}
            <tr class="table-success">
                {% else %}
            <tr>
                {% endif %}
                <td onclick={{ onclick }}>{{ climb.route.name }}</td>
                <td onclick={{ onclick }}>{{ climb.route.sector.name }}</td>
                <td onclick={{ onclick }}>{{ climb.n_attempts }}</td>
                <td onclick={{ onclick }}>{{ "Yes" if climb.sent else "No" }}</td>

                {% if session.climber_id == user_id %}
                    <td>
                        <a href="{{ url_for('climbs.edit_climb', climb_id=climb.id) }}">
                            {% include 'icons/edit.html' %}
                        </a>
                        <a href="{{ url_for('climbs.delete_climb', climb_id=climb.id) }}">
                            {% include 'icons/delete.html' %}
                        </a>
                    </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}