<div class="container px-0 px-md-5">
    <h1 class="ms-3 mt-2">Sessions</h1>
    <table id="content_table" class="table table-hover" data-sort-col="0" data-sort-order="desc">
        <thead>
            <tr>
                <th data-type="date" data-format="DD/MM/YYYY">Date</th>
                <th>Area</th>
                <th>Conditions</th>
                <th># Routes</th>
                <th># Sends</th>
                {% if sessions[0].climber_id == user_id %}
                    <th data-sortable="false">Actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for session in sessions %}
            {% set onclick = "window.location=\"" + url_for('sessions.page_session', session_id=session.id) + "\"" %}
            <tr>
                <td onclick={{ onclick }}>{{ session.date.strftime('%d/%m/%Y') }}</td>
                <td onclick={{ onclick }}>{{ session.area.name }}</td>
                <td onclick={{ onclick }}>{{ session.conditions }}</td>
                <td onclick={{ onclick }}>{{ session.climbs|length }}</td>
                <td onclick={{ onclick }}>{{ session.climbs|map(attribute='sent')|sum }}</td>
                {% if session.climber_id == user_id %}
                    <td>
                        <a href="{{ url_for('sessions.edit_session', session_id=session.id) }}">
                            {% include 'icons/edit.html' %}
                        </a>
                        <a href="{{ url_for('sessions.delete_session', session_id=session.id) }}">
                            {% include 'icons/delete.html' %}
                        </a>
                        {% if not open_session %}
                        <a href="{{ url_for('sessions.reopen_session', session_id=session.id) }}">
                            {% include 'icons/reopen.html' %}
                        </a>
                        {% endif %}
                    </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>