<div class="container">
	<div class="row">
<table class="table table-striped" id="climbs_table">
    <tr>
        <th>Name</th>
        <th>Grade</th>
        <th>Sector</th>
        <th>Session Num.</th>
        <th>Num. attempts</th>
        <th>Sent</th>
    </tr>
    {% for climb in climbs %}
        <tr onclick="window.location=&quot;{{ url_for('routes.page_route', route_id=climb.route.id) }}&quot;">
            <td>{{ climb.route.name }}</td>
            <td>{{ climb.route.grade.font }} / {{ climb.route.grade.hueco }}</td>
            <td>{{ climb.route.sector.name }}</td>
            <td>{{ climb.route.climbs|length }}</td>
            <td>{{ climb.n_attempts }}</td>
            <td>{{ climb.route.sent }}</td>
        </tr>
    {% endfor %}
</table>
    </div>
</div>

<script>
window.onload = () => {window.data_table = new DataTable("#climbs_table", {perPage: 20, perPageSelect: false, searchable:false, nextPrev:false})};
</script>