<html>
    <head>
        <title></title>
        <link 
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static', filename='css/slider_switch.css') }}"
        />
        <link 
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static', filename='css/filter_checkboxes.css') }}"
        />
    </head>
    <body>
        
        {%block content %}
        {% endblock %}
        
        <script src="https://d3js.org/d3.v7.min.js"></script>
        <script src="https://momentjs.com/downloads/moment.js"></script>
        <script src="{{url_for('static', filename='js/analysis.js')}}"></script> 
        <script src="{{url_for('static', filename='js/grades.js')}}"></script>
        <script src="{{url_for('static', filename='js/y_axis.js')}}"></script>
        <script src="{{url_for('static', filename='js/filter_checkboxes.js')}}"></script>
        <script src="{{url_for('static', filename='js/filter_dates.js')}}"></script>
        <script src="{{url_for('static', filename='js/filter_grades.js')}}"></script>
        <script src="{{url_for('static', filename='js/filters.js')}}"></script>
        <script src="{{url_for('static', filename='js/grade_scale_switch.js')}}"></script>
        <script src="{{url_for('static', filename='js/include_unsent_climbs.js')}}"></script>
    </body>
</html>