{% extends "main.html" %}
{% block content %}

<!-- 
        This template is used both for adding a new climb and for editing an existing one.
        If an existing climb is editing, there is no route form, only the name, as the route
        cannot be changed.

        Display the form for adding a new climb.

        - If is is an existing route, display only the route name and grade.
        - If it is a new route, display all the fields.
        - If it is a project, don't display the sent and n_attempts fields.
    -->


{% if climb_form %}
{% if not route_form %}
<h2>Edit climb on {{ route_name }}</h2>
{% else %}
<h2>Log climb</h2>
{% endif %}

{% else %}
<h2>Add project</h2>
{% endif %}

<div class="container">
    <form method="POST" style="margin: 40px;" onkeydown="return event.key != 'Enter';">


        {% if route_form %}
        {{ route_form.hidden_tag() }}

        <div class="form-group">
            <label for="{{ route_form.name.id }}">{{ route_form.name.label }}</label>
            {{ route_form.name(id=route_form.name.id, class='form-control', list='existingRoutes', autocomplete='off')
            }}
        </div>

        <div id="newRouteForm" class="container">
            <h4>New route</h4>

            {% for field in route_form %}
            {% if field.name != 'csrf_token' and field != route_form.name %}
            <div class="form-group">
                <label for="{{ field.id }}">{{ field.label }}</label>
                {% if field.id == 'sector' %}
                {{ field(id=field.id, class='form-control', list='existingSectors', autocomplete='off') }}
                {% elif field.type == 'BooleanField' %}
                {{ field(id=field.id, class='form-check') }}
                {% else %}
                {{ field(id=field.id, class='form-control') }}
                {% endif %}
            </div>
            {% endif %}
            {% endfor %}
        </div>

        <datalist id="existingRoutes">
            {% for route_name in route_names %}
            <option value="{{ route_name }}"></option>
            {% endfor %}
        </datalist>
        <datalist id="existingSectors">
            {% for sector_name in sector_names %}
            <option value="{{ sector_name }}"></option>
            {% endfor %}
        </datalist>
        {% endif %}

        {% if climb_form %}
        {{ climb_form.hidden_tag() }}

        {% if route_form %}
        <h4>Climb</h4>
        <div id="isProject" class="form-group">
            <label for="{{ climb_form.is_project.id }}">{{ climb_form.is_project.label }}</label>
            {{ climb_form.is_project(id=climb_form.is_project.id, class='form-check') }}
        </div>
        {% endif %}

        <div id="newClimbForm" class="container">
            <div class="form-group">
                <label for="{{ climb_form.n_attempts.id }}">{{ climb_form.n_attempts.label }}</label>
                {{ climb_form.n_attempts(id=climb_form.n_attempts.id, class='form-control') }}
            </div>
            <div class="form-group">
                <label for="{{ climb_form.sent.id }}">{{ climb_form.sent.label }}</label>
                {{ climb_form.sent(id=climb_form.sent.id, class='form-check') }}
            </div>
        </div>
        {% endif %}

        <div class="form-group">
            <input type="submit" class="btn btn-success" value="Save">
            <a type="button" class="btn btn-danger" value="Cancel" href="{{ url_for('home.cancel_form') }}">
                Cancel
            </a>
        </div>
    </form>
</div>

{% if route_form %}
<script>
    let route = document.querySelector("#{{ route_form.name.id }}");
    let newRouteForm = document.querySelector("#newRouteForm");
    let newClimbForm = document.querySelector("#newClimbForm");
    if (newClimbForm !== null) {
        let isProject = document.querySelector("#isProject");
    }

    function toggleNewRouteForm() {
        let routeValue = route.value;
        let routeExists = false;
        for (let existingRoute of document.getElementById("existingRoutes").options) {
            if (existingRoute.value == routeValue) {
                routeExists = true;
                break;
            }
        }
        newRouteForm.style.display = routeExists ? "none" : "block";
    }

    function toggleNewClimbForm() {
        newClimbForm.style.display = isProject.checked ? "none" : "block";
    }

    toggleNewRouteForm();
    route.addEventListener("change", toggleNewRouteForm);
    if (newClimbForm !== null) {
        toggleNewClimbForm();
        isProject.addEventListener("change", toggleNewClimbForm);
    }

</script>
{% endif %}

{% endblock content %}