{% extends "main.html" %}
{% block content %}

    <script>
        window.addEventListener('load', function() {
            start_analysis({{ routes | tojson }} , {{ grades | tojson }});
        });
    </script>

    <!-- This div is used to display the data in the chart; it is centered -->
    <div style="margin: auto; width: 500;">

        <!-- Checkbox to exclude unsent climbs -->
        <div>
            <span>Include unsent boulders</span>
            <input type="checkbox" id="include-unsent-climbs">
        </div>

        <!-- Switch to define the grade type -->
        <div>
            <span>Font</span>
            <span>
                <label class="switch">
                    <input type="checkbox" id="grade-scale-toggle">
                    <span class="slider round"></span>
                </label>
            </span>
            <span>Hueco</span>
        </div>

        <!-- D3.js chart-->
        <div id="chart">
        </div>

        <!-- Markdown menus -->
        <label for="x-axis-select">X Axis:</label>
        <select id="x-axis-select" onchange="plot_data()"></select>
        <label for="y-axis-select">Y Axis:</label>
        <select id="y-axis-select" onchange="plot_data()"></select>


        <button onclick="add_filter()">Add filter</button>
        <div id="filterList"></div>

    </div>
{% endblock content %}