{% extends "main.html" %}
{% block content %}

    <!-- Possible additional columns: 
        - avg. height/inclination/landing/conditions 
    -->

    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Rock type</th>
            <th># Sectors</th>
            <th># Sessions</th>
            <th># Routes</th>
        </tr>
        {% for area in areas.items %}
            <tr onclick="window.location=&quot;{{ url_for('routes.page_area', area_id=area.id) }}&quot;">
                <td>{{ area.name }}</td>
                <td>{{ area.rock_type.name }}</td>
                <td>{{ area.sectors|length }}</td>
                <td>{{ area.sessions|length }}</td>
                <td>{{ area.sectors|map(attribute='routes')|map('length')|sum }}</td>
            </tr>
        {% endfor %}
    </table>

    <div>
        {% if areas.has_prev %}
            <a href="{{ url_for('show_areas', page=areas.prev_num) }}">Previous</a>
        {% endif %}
        Page {{ areas.page }} of {{ areas.pages }}
        {% if areas.has_next %}
            <a href="{{ url_for('show_areas', page=areas.next_num) }}">Next</a>
        {% endif %}
    </div>

{% endblock content %}