{% extends "main.html" %}
{% block content %}

    <!-- 
        Display the form for adding a new climb.
    -->

    <h2>Log climb</h2>

    <form method="POST" style="margin: 40px;">
        {{ climb_form.hidden_tag() }}
    
        {% for field in climb_form %}
            {% if field.name != 'csrf_token' %}
                <div class="form-group">
                    <label for="{{ field.id }}">{{ field.label }}</label>
                    {% if field.type == 'BooleanField' %}
                        {{ field(id=field.id, class='form-check') }}
                    {% else %}
                        {{ field(id=field.id, class='form-control') }}
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    </form>

{% endblock content %}