<!-- Checkbox to include unsent climbs -->
<div class="row-sm">
    <span>Include unsent boulders</span>
    <input type="checkbox" id="include-unsent-climbs">
</div>

<!-- Switch to define the grade type -->
<div class="row-sm">
    <span>Font</span>
    <span>
        <label class="switch">
            <input type="checkbox" id="grade-scale-toggle">
            <span class="slider round"></span>
        </label>
    </span>
    <span>Hueco</span>
</div>

<!-- Filters -->
<div class="row-sm">
    <button class="btn btn-outline-primary" onclick="add_filter()">Add filter</button>
    <div id="filterList"></div>
</div>