{% extends "main.html" %}
{% block content %}

<form method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
</form>

<div class="container text-center" style="margin-top: 50px;">
    <div class="row">
        <div class="col">
            <div class="row"><h2>Tables</h2></div>
            <a class="btn btn-primary" href="{{ url_for('areas.table_areas') }}">Areas</a>
            <a class="btn btn-primary" href="{{ url_for('routes.table_routes') }}">Routes</a>
            <a class="btn btn-primary" href="{{ url_for('sessions.table_sessions') }}">Sessions</a>
        </div>
        <div class="col">
            <div class="row"><h2>Log data</h2></div>

                {% if session_started %}
                    <a id="stopSession" class="btn btn-danger" href="{{ url_for('home.stop_session') }}">Stop Session</a>
                {% endif %}
                <button id="startButton"  class="btn btn-primary">Start Recording</button>
                <button id="stopButton" disabled class="btn btn-primary">Stop Recording</button>
                <button id="sendButton" disabled  class="btn btn-success">Send to Server</button>
                <audio id="audioPlayer" controls></audio>
            </div>
            <div class="col">
                <div class="row"><h2>Analysis</h2></div>
                <a class="btn btn-primary" href="{{ url_for('analysis.analyze') }}">Analysis</a>
            </div>
        </div>
    </div>

    {% endblock content %}
