{% extends "main.html" %}
{% block content %}

<form method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
</form>

<div class="container text-center" style="margin-top: 50px;">
    <div class="row">
        <div class="col">
            <div class="row"><h2>Tables</h2></div>
            <a class="btn btn-primary" href="{{ url_for('areas.table_areas') }}">Areas</a>
            <a class="btn btn-primary" href="{{ url_for('routes.table_routes') }}">Routes</a>
            <a class="btn btn-primary" href="{{ url_for('sessions.table_sessions') }}">Sessions</a>
        </div>
        <div class="col">
            <div class="row"><h2>Log data</h2></div>
                <button id="startButton"  class="btn btn-primary">Start Recording</button>
                <button id="stopButton" disabled class="btn btn-primary">Stop Recording</button>
                <button id="sendButton" disabled  class="btn btn-success">Send to Server</button>
                <audio id="audioPlayer" controls></audio>
            </div>
            <div class="col">
                <div class="row"><h2>Analysis</h2></div>
                <a class="btn btn-primary" href="{{ url_for('analysis.analyze') }}">Analysis</a>
            </div>
        </div>
    </div>

    {% if session_started %}
        <div class="container">
            <a id="stopSession" class="btn btn-danger" href="{{ url_for('home.stop_session') }}">Stop Session</a>
        </div>
    {% endif %}
    {% if project_search_started %}
        <div class="container">
            <a id="stopSession" class="btn btn-danger" href="{{ url_for('home.stop_session') }}">Stop Project Search</a>
        </div>
    {% endif %}

    {% if project_search_started %}
        <div class="container">
            <h2>Project search on {{ area_name }}</h2>

            {% set routes = projects  %}
            {% include 'table_routes.html' %}
        </div>

    {% elif last_session %}
        <div class="container">
            {% set session_status = 'Current' if session_started else 'Last' %}
            {% set date = 'on ' + last_session.date|string if last_session.date else '' %}
            <h2>{{ session_status }} session: {{ last_session.area.name }} {{ date }}</h2>

            {% if not session_started %}
                <a id="startSession" class="btn btn-success" href="{{ url_for('home.reopen_session', session_id=last_session.id) }}">Re-open session</a>
            {% endif %}

            {% set climbs = last_session.climbs  %}
            {% include 'table_climbs.html' %}
        </div>
    {% endif %}

    {% endblock content %}
