{% extends "main.html" %}
{% block content %}

<form method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
</form>

<div class="container text-center" style="margin-top: 50px;">

    {% if session_started %}
    <div class="container">
        <a id="stopSession" class="btn btn-danger" href="{{ url_for('home.stop_session') }}">Stop Session</a>
    </div>
    {% endif %}
    {% if project_search_started %}
    <div class="container">
        <a id="stopSession" class="btn btn-danger" href="{{ url_for('home.stop_session') }}">Stop Project Search</a>
    </div>
    {% endif %}

    {% include 'table.html' %}

    {% endblock content %}