{% extends "main.html" %}
{% block content %}

    <!-- 
        Display the form for adding a new session.
    -->

    <h2>Start Session</h2>

    <form method="POST" style="margin: 40px;">
        {{ session_form.hidden_tag() }}
    
        {% for field in session_form %}
            {% if field.name != 'csrf_token' %}
                <div class="form-group">
                    <label for="{{ field.id }}">{{ field.label }}</label>
                    {{ field(id=field.id, class='form-control') }}
                </div>
            {% endif %}
        {% endfor %}
    </form>

{% endblock content %}