{% extends "main.html" %}
{% block content %}

    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Sector</th>
            <th>Area</th>
            <th>Sessions</th>
            <th>Height</th>
            <th>Landing</th>
            <th>Inclination</th>
        </tr>
        {% for route in routes.items %}
            <tr>
                <td>{{ route.name }}</td>
                <td>{{ route.sector.name }}</td>
                <td>{{ route.sector.area.name }}</td>
                <td>{{ route.climbs|length }}</td>
                <td>{{ route.height }}</td>
                <td>{{ route.landing }}</td>
                <td>{{ route.inclination }}</td>
            </tr>
        {% endfor %}
    </table>

    <div>
        {% if routes.has_prev %}
            <a href="{{ url_for('show_routes', page=routes.prev_num) }}">Previous</a>
        {% endif %}
        Page {{ routes.page }} of {{ routes.pages }}
        {% if routes.has_next %}
            <a href="{{ url_for('show_routes', page=routes.next_num) }}">Next</a>
        {% endif %}
    </div>

{% endblock content %}