{% extends "main.html" %}
{% block content %}

<script>
    window.addEventListener('load', function () {
        show_routes({{ routes | tojson }} , {{ grades | tojson }});
        });
</script>

<!-- This div is used to display the data in the chart; it is centered -->
<div>

    <!-- Checkbox to include unsent climbs -->
    <div>
        <span>Include unsent boulders</span>
        <input type="checkbox" id="include-unsent-climbs">
    </div>

    <!-- Switch to define the grade type -->
    <div>
        <span>Font</span>
        <span>
            <label class="switch">
                <input type="checkbox" id="grade-scale-toggle">
                <span class="slider round"></span>
            </label>
        </span>
        <span>Hueco</span>
    </div>

    <!-- Filters -->
    <button onclick="add_filter()">Add filter</button>
    <div id="filterList"></div>

    <!-- Table to display the data; filled by the scripts -->
    <div id="content_div"></div>

</div>

{% endblock content %}