<div class="container">
	<div class="row">
		<div class="col-md-16">
			<table class="table table-striped" id="routes_table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Grade</th>
            <th>Sector</th>
            <th>Area</th>
            <th>Sessions</th>
            <th>Sent</th>
            <th>Height</th>
            <th>Landing</th>
            <th>Inclination</th>
        </tr>
    </thead>
    <tbody>
    {% for route in routes %}
        <tr onclick="window.location=&quot;{{ url_for('routes.page_route', route_id=route.id) }}&quot;">
            <td>{{ route.name }}</td>
            <td>{{ route.grade.font }} / {{ route.grade.hueco }}</td>
            <td>{{ route.sector.name }}</td>
            <td>{{ route.sector.area.name }}</td>
            <td>{{ route.climbs|length }}</td>
            <td>{{ route.sent }}</td>
            <td>{{ route.height }}</td>
            <td>{{ route.landing }}</td>
            <td>{{ route.inclination }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
        </div>
    </div>
</div>

<script>
    window.onload = () => {window.data_table = new DataTable("#routes_table", {perPage: 200, perPageSelect: false, searchable:false, nextPrev:false})};
</script>