<div class="container-fluid">
  <div class="row">
    <div id="result_slider_1">Min: 1 Max: 10</div>
    <div
      id="slider_1"
      se-min="1"
      se-step="1"
      se-min-value="1"
      se-max-value="10"
      se-max="10"
      class="slider"
    ></div>
    <div id="result_slider_2">Min: 1 Max: 10</div>
    <div
      id="slider_2"
      se-min="1"
      se-step="1"
      se-min-value="1"
      se-max-value="10"
      se-max="10"
      class="slider"
    ></div>
    <table class="table table-striped" id="routes_table">
      <thead>
        <tr>
          <th class="col-md-3">Name</th>
          <th class="col-md-1">Grade</th>
          <th>Sector</th>
          <th>Area</th>
          <th class="col-md-1">Sessions</th>
          <th class="col-md-1">Sent</th>
          <th class="col-md-1">Height</th>
          <th class="col-md-1">Landing</th>
          <th class="col-md-1">Inclination</th>
        </tr>
      </thead>
      <tbody>
        {% for route in routes %}
        <tr
          onclick="window.location=&quot;{{ url_for('routes.page_route', route_id=route.id) }}&quot;"
        >
          <td>{{ route.name }}</td>
          <td>{{ route.grade.font }} / {{ route.grade.hueco }}</td>
          <td>{{ route.sector.name }}</td>
          <td>{{ route.sector.area.name }}</td>
          <td>{{ route.climbs|length }}</td>
          <td>{{ route.sent }}</td>
          <td>{{ route.height }}</td>
          <td>{{ route.landing }}</td>
          <td>{{ route.inclination }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<script>
  window.onload = () => {
    (window.slider_1 = new DoubleRangeSlider("slider_1", 300, 200)),
    (window.slider_2 = new DoubleRangeSlider("slider_2", 1400, 100)),
      (window.data_table = new DataTable("#routes_table", {
        perPage: 100,
        perPageSelect: false,
        searchable: true,
        nextPrev: false,
      }));
  };
  function filterTable() {
    var filterOptions = document.getElementById("filterOptions");
    filterOptions.style.display =
      filterOptions.style.display === "block" ? "none" : "block";
  }

  function handleCheckbox() {
    var checkbox = document.getElementById("filterCheckbox");
    if (checkbox.checked) {
      console.log("Hello");
    }
  }
</script>
