{% extends "main.html" %}
{% block content %}

<div class="container px-2 px-md-5">
    <h2 class="mt-2">{{ title }}</h2>
    <p>Drag and drop the videos below to sort them chronologically (earliest at the top).</p>

    <!-- TODO: allow the user to change the size of the videos -->
    <div id="sortable-videos" class="list-group mb-3">
        {% for video in videos %}
        <div class="list-group-item list-group-item-action d-flex justify-content-center" data-fname="{{ video }}">
            <video height="320" preload="metadata" class="me-2">
                <source src="{{ url_for('videos.serve_file', filetype='videos', filename=video) }}" alt="{{ video }}">
            </video>
        </div>
        {% endfor %}
    </div>

    <form id="sort-form" method="POST" action="{{ url_for('videos.sort_videos') }}">
        {{ form.hidden_tag() }}
        <div style="display:none;"> {{ form.videos_sorted() }} </div>
        <input type="submit" class="btn btn-success" name="btn" value="Continue">
         <a href="{{ url_for('home.cancel_form') }}" class="btn btn-danger ms-2">Cancel Upload</a>
         <!-- TODO: cancel upload not working -->
    </form>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.15.0/Sortable.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const sortableList = document.getElementById('sortable-videos');
        const form = document.getElementById('sort-form');
        const hidden_inputs = form.querySelectorAll('input[type="text"][name^="videos_sorted-"]');

        // Initialize SortableJS
        new Sortable(sortableList, {
            animation: 150, // ms, animation speed moving items when sorting, `0` — without animation
            ghostClass: 'sortable-ghost' // Class name for the drop placeholder
        });

        // Update hidden input before form submission
        form.addEventListener('submit', function(e) {
            const items = Array.from(sortableList.querySelectorAll('.list-group-item'));
            const fnames = Array.from(items).map((item) => item.getAttribute('data-fname'));
            hidden_inputs.forEach((input, index) => {input.value = fnames[index]});
            console.log(fnames);
        });
    });
</script>

<style>
    /* Optional: Style for the ghost element during drag */
    .sortable-ghost {
        opacity: 0.4;
        background-color: #c8ebfb;
    }
    .list-group-item {
        cursor: grab; /* Indicate items are draggable */
         display: flex; /* Align image and text */
        align-items: center;
    }
</style>

{% endblock content %}