{% import "macros.html" as macros %}

{% extends "main.html" %}
{% block content %}

<div class="container px-2 px-md-5">
    <h2 class="mt-2">{{ title }}</h2>

    {% if enctype %}
    <form method="POST" enctype="{{ enctype }}">
    {% else %}
    <form method="POST">
   {% endif %} 

        {{ macros.three_forms(forms) }}

        <div class="form-group">
            <input type="submit" class="btn btn-success" name="btn" value="Save">
            <a type="button" class="btn btn-danger" value="Cancel" href="{{ url_for('home.cancel_form') }}">
                Cancel
            </a>
        </div>
    </form>
</div>


{% endblock content %}