<html>

<head>
    <title>myclimbz - {{ title }}</title>
    <meta name="version" content="2.0.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="icon" href="{{ url_for('static', filename='images/icon-green-small.png') }}">
    <link href="{{ url_for('static', filename='css/colors.css') }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.8.1/nouislider.css" />
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" type="text/css">
</head>

<body>

    <style>
        .navbar-toggler-icon {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(240, 237, 238, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
        }
        .navbar-toggler,
        .navbar-toggler:focus,
        .navbar-toggler:active,
        .navbar-toggler-icon:focus {
            outline: none;
            border: none;
            box-shadow: none;
        }
    </style>

    <nav class="navbar navbar-expand-lg">
        {% if not is_form %}
        <a class="navbar-brand" href="{{ url_for('home.page_home') }}" style="padding-left: 10px;">
            <img src="{{ url_for('static', filename='images/logo-transparent.svg') }}" width="60" height="40" class="d-inline-block align-top" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" style="color: white; border: null;"></span>
        </button>

        <div class="collapse navbar-collapse ps-2" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                {% if open_session %}
                {% if not open_session.is_project_search %}
                <li><a id="add_videos" class="nav-link" href="{{ url_for('videos.annotate_video') }}">Add videos</a></li>
                {% endif %}
                <li><a id="add_climb" class="nav-link" href="{{ url_for('climbs.add_climb') }}">Add climb</a></li>
                <li>
                    <a id="stop_session" class="nav-link" href="{{ url_for('sessions.stop_session') }}">
                        Stop
                        {% if open_session.is_project_search %}
                        project search
                        {% else %}
                        session
                        {% endif %}
                    </a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a id="start_session" class="nav-link" href="{{ url_for('sessions.add_session') }}">Start session</a>
                </li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Lists
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ url_for('sessions.table_sessions') }}">My sessions</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('areas.table_areas') }}">Areas</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('climbers.table_climbers') }}">Climbers</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav ms-md-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('home.guide') }}">Help</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        {{ username }}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="{{ url_for('climbers.logout') }}">Logout</a></li>
                        <li>
                            <a class="dropdown-item" href="{{ url_for('climbers.edit_climber', climber_id=user_id) }}">
                                Edit profile
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{ url_for('climbers.edit_password', climber_id=user_id) }}">
                                Change password
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        {% else %}
        <a class="navbar-brand" href="{{ url_for('home.cancel_form') }}" style="padding-left: 10px;">
            <img src="{{ url_for('static', filename='images/logo-transparent.svg') }}" width="60" height="40" class="d-inline-block align-top" alt="">
        </a>
        {% endif %}
    </nav>



    {% if error %}
    <script>
        console.error("An error has occurred.");
        console.error("{{ error }}");
    </script>
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endif %}

    <!-- Show the current session / project search, if any-->
    {% if open_session %}

    <div class="alert alert-success" role="alert">
        {% if open_session.is_project_search %}
        Project search
        {% else %}
        Session
        {% endif %}
        in {{ open_session.area.name }}
    </div>
    {% endif %}

    {%block content %}{% endblock %}

    <script>
        // Set the user's preferred grade scale
        let GRADE_SCALE = "{{ user_grade_scale }}";
    </script>

    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@9" type="text/javascript"></script>

    <!-- Script for forms -->
    <script src="{{url_for('static', filename='js/forms.js')}}"></script>

    <!-- Scripts for tables -->
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://momentjs.com/downloads/moment.js"></script>
    <script src="{{url_for('static', filename='js/data.js')}}"></script>
    <script src="{{url_for('static', filename='js/table/routes.js')}}"></script>
    <script src="{{url_for('static', filename='js/table/init_datatable.js')}}"></script>

    <!-- Scripts for plotting -->
    <script src="{{url_for('static', filename='js/analysis/main.js')}}"></script>
    <script src="{{url_for('static', filename='js/analysis/grades.js')}}"></script>
    <script src="{{url_for('static', filename='js/analysis/y_axis.js')}}"></script>

    <!-- Scripts for filters -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.8.1/nouislider.min.js"></script>
    <script src="{{url_for('static', filename='js/filters/main.js')}}"></script>
    <script src="{{url_for('static', filename='js/filters/filters.js')}}"></script>
    <script src="{{url_for('static', filename='js/filters/filters.js')}}"></script>
    <script src="{{url_for('static', filename='js/filters/widgets/checkbox.js')}}"></script>
    <script src="{{url_for('static', filename='js/filters/widgets/double_slider.js')}}"></script>
    <script src="{{url_for('static', filename='js/filters/widgets/date_range.js')}}"></script>
    <script src="{{url_for('static', filename='js/filters/widgets/dropdown.js')}}"></script>
    <script src="{{url_for('static', filename='js/filters/widgets/radio_button.js')}}"></script>
</body>

</html>